@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
:root{
  --main-dark-color: #080808;
  --dark-color:#1B1B1B;
  --light-color:#F5F5F5;
  --grey-color:#9C9C9C;
  --primary-font:'Raleway',monospace;
  --secondary-font:'IBM Plex Mono', monospace;
}

*{
  /* border: 1px solid red; */
}

.App {
  /* text-align: center; */
  font-family: var(--primary-font);
  overflow: hidden;
  background-color: var(--light-color);
  scroll-behavior: smooth;
}

.navbar{
  top:0px !important;
  background-color: var(--dark-color) !important;
}
.nav-link{
  text-align: center !important;
  font-family: var(--secondary-font);
  color: #9C9C9C !important;
  margin: 0rem 3rem;
}
.nav-link:hover{
  color: var(--light-color) !important;
}
.navbar-toggler-icon{
  color: var(--light-color);
}

.homepage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark-color);
}
.homepage h1{
  color: var(--light-color);
  font-size: 44px;
  font-weight: 900;
}

.homepage p{
  color: var(--grey-color);
  width: 30rem;
  font-family: var(--secondary-font);
}

.introText{
  flex-direction: column;
  margin-left: 7rem;
}
.photoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.myphoto{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  /* margin: 0rem 10rem; */
  background: url('../assets/myphoto.jpeg');
  background-size: cover; 
  background-position: center; 
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
}
.custom-toggler.navbar-toggler {
  border-color: #707070 !important;
}


.caseStudiesSection{
  display: flex;
  flex-direction: column; 
  height: fit-content;

}
.caseStudiesSection h1{
  /* display: inline; */
  align-self: center;
  margin: 3rem 0rem;
  font-weight: 800 !important;
  margin-bottom: 6rem;
}
.caseStudies{
  display: flex;
  flex-direction: column;
  background: var(--light-color);
}
.case{
  display: flex;
  align-items: center;
  height: 20rem;
  margin-bottom: 5rem;
}
.case h2{
  font-weight: 800;
}

.case p{
  color:var(--dark-color);
}

.caseText{
  margin: 0rem 2rem;
}
.case a{
  background: #FFA217;
  box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);
  border-radius: 4px;
  padding: .5rem 1.2rem;
  font-weight: 700;
  color: var(--light-color) !important;
  font-family: var(--secondary-font);
  margin-top:2rem;
  text-decoration: none;
  box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);
}
.caseStudies .case:nth-child(2) a{
  background-color: #000AFF !important;
  box-shadow: 0px 8px 30px rgba(0, 10, 255, 0.1);
}

#firstCaseImg{
  background: url('../assets/work2.png');
  background-repeat:round;
  background-size:cover;
  border-radius: 4px;
  height: 20rem;
  margin: 0rem 2rem;
}

#secCaseImg{
  background: url('../assets/node.png');
  background-repeat:round;
  background-size:cover;
  border-radius: 4px;
  height: 20rem;
  margin: 0rem 2rem;
}


.row>* {
  padding-left: 0px !important;
}


.introText button{
  background-color: #3F8E00;
  color:var(--light-color);
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--secondary-font);
  width: 18rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid #62BA1B;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
}


.recentWorkSection{
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  background-color: var(--main-dark-color);
  height: fit-content;
  align-items: center;
}

.recentsHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: var(--light-color);
}

.recentsHeading h1{
  font-weight: 800;
  margin-bottom: 1rem;
}
.recentsHeading p{
  text-align: center;
  width: 50vh;
}

.work{
  margin-bottom: 3rem !important;
}

.work a{
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 700;
  color:var(--light-color);
  text-decoration: none !important;
  background: #3F8E00;
  border: 1px solid #62BA1B;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.3);
  border-radius: 4px;
  padding: .3rem .8rem;
}
.work h2{
  margin-top: 2rem !important;
  margin-bottom: 1rem;
  font-weight: 800;
}
.work p{
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--grey-color);
}

.workImg{
  background: url('../assets/work1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #000AFF; */
  /* width: 50vh; */
  height: 40vh;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.contactSection{
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactSection h1{
  color: var(--main-dark-color);
  font-weight: 800;
  font-size: 34px;
}

.contactSection p{
  font-family: var(--secondary-font);
  color: var(--main-dark-color);
  margin-top: 1rem;
  text-align: center;
  width: 70vh;
}


.formContainer{
  margin-top: 4rem;
  width: 50vh;
  align-items: center;
  justify-content: center;
}

.formContainer form{
  margin-top: 2rem;
  color: var(--main-dark-color);
  font-weight: 600;
  line-height: 16px;
  display: flex;
  flex-direction: column;
}
.formContainer input::placeholder{
  font-family: var(--secondary-font);
  font-weight: 400;
}

.formContainer input{
  margin-bottom: .6rem;
}

.submitBtn{
  text-decoration: none;
  color: var(--light-color);  
  background: #3F8E00;
  border: 1px solid #62BA1B;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.3);
  border-radius: 4px;
  text-align: center;
  padding: .8rem 0rem;
}

footer div{
  font-family: var(--secondary-font);
  background: var(--dark-color);
  color:#9C9C9C;
}

footer div a{
  color: #9C9C9C !important;
  text-decoration: none;
}
footer div a:hover{
  color: var() !important;
  
}

@media (max-width: 930px) {
  .introText{
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .myphoto{
      margin-bottom: 2rem;
    }
    .homepage{
      text-align: center;
      display: flex;
       flex-direction: column;
    }
    .photoContainer{
      display: none;
    }
}

@media (max-width: 515px) {
  .introText{
    margin: 0rem 1rem;
  }
  .introText h1{
    font-size: 30px !important;
    }
    .introText p{

      font-size: 13px !important;
      }
}

@media (max-width: 770px) {
  .case{
    height: 35rem !important;
  }
  .caseImg{
    height: 15rem !important;
  }
}

@media (min-width: 1000px) {
  .recentWorkSection{
    height: 100vh;
  }
}